/* RESET CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary: #34495e;
    --dark: #2c3e50;
    --text: white;
    --font-paragraph: "Open Sans", sans-serif;;
}

/* REGLES GENERIQUE */
h1, h2, h3 {
    margin-bottom: 20px;
}
a{
    color: #333;
    text-decoration: none;
}
html, body{
    font-family: var(--font-paragraph)
}


/* HEADER */
.header{
    background: #333;
    overflow: auto;
    line-height: 1.7em;
}
.header nav h1{
    float: left;
    padding: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.header nav h1 a{
    color: white;
}
.header nav ul {
    float: right;
    list-style: none;
}
.header nav ul li{
    float: left;
}
.header nav ul li a{
    color: white;
    padding: 20px;
    display: block;
}
.header nav ul li a:hover{
    background: #444;
}
.active{
    background: #444;
}